@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}

html,body,#root {
    height:100%;
}

body {
    background:#F5DA81;
    -webkit-font-smoothing:antialiased;
}

body,input,button{
    font-family:Roboto,sans-serif;
}

.logout{
    
    color:#FF8000;
    font-size:14px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    position:absolute;
    margin-left:72%;
}


.username{
    color:#FF8000;
    font-size:14px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    position:absolute;
    margin-left:65%;
}

.username:hover{
    color:#DF7401;
}

.logout:hover{
    color:#DF7401;
}

@media(max-width:1000px){

.username{
    color:#FF8000;
    font-size:14px;
    font-weight:bold;
    display:block;
    text-decoration:none;
    position:absolute;
    margin-left:45%;

}

}